* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    background-color: rgb(255, 255, 255);
    font-family: "Source+Sans+Pro", "Arial", sans-serif;
    font-weight: 300;
    color: rgb(255,100,0);
    font-size: 35px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2)),url(img/hero.jpg);
    height: 100vh;
    background-size :cover;
    background-position: center;
    
}

.hero-text-box {
    
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

h1 {
    margin: 0;
    color: #fff;
    font-size: 200%;
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 10px;
    
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    
    color: rgba(39, 174, 96,1.0)
    
}

.btn-full{
    color: rgba(39, 174, 96,1.0);
}



.author{
    transform: translate(100%,600%);
    
}
.btn-ghost {
    color:rgba(41, 128, 185,1.0);
}

.main-text {
    text-align: justify;
    top: 50%;
    left: 50%;
    width: 900px;
    color: red;
    position:absolute;
}
